


.footer-e-content {
    
    max-width: 1200px;
    display: flex;
    gap: 1rem;

    max-width: 1200px;
    padding-top: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;

}





#footer-ka-title {
    color: #3e3e3e;
    font-weight: 800;
    font-size: large;
}



#footer-p1 {
    margin-top: 1rem;
    margin-bottom: rem;
    color: grey;
    font-weight: 600;
    font-style: italic;
}


.ICONS_STARTING {
    display: flex;
    gap: 1rem;

}

i {
    color: grey;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scaleX(1.2);

}



.left-part-of-footer {
    max-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-part-of-footer {
    max-width: 900px;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-left: 2rem;
}

#responsive span{
    display: block;
    
}
#rph {
    font-weight: 900;
    font-size: medium;

}

.quick-links {
    color: #333333;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
}






/* HOVERING EFFECT FOR SM-ICONS */

.ICONS-STARTING #iconu-iconu:hover {
    transform: scaleX(1.2);

}

/* HOVERING EFFECT FOR RIGHT-PART OF FOOTER */
.quick-links .list-names:hover {

    cursor: pointer;
    color: #5759d4;
    font-weight:600;
}

.quick-links #unique-one:hover {
    color: #4a4cc3;
}


/* media queries for footer section */
@media (max-width:768px) {
    .footer-e-content{
            flex-direction: column;

    }
    
}








@media (min-width: 768px) and (max-width: 947px){
    .footer-e-content{
        max-width:710px;
    }
}


@media  (max-width: 768px){

    .left-part-of-footer{
        margin:0 auto;
        gap:0.2rem;
       
    }

    .right-part-of-footer{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr 1fr;
            gap:2rem;
            margin-top: 2rem;



    }


}






.copyright{

    max-width:1200px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 2rem;

    color: gray;
  font-size:large;
  font-weight: bold;
}